In [1]:
import numpy as np
import pandas as pd

In [25]:
head options-df-sigma.csv

SyntaxError: invalid syntax (<ipython-input-25-a4d20256f439>, line 1)

In [2]:
options = pd.read_csv('options-df.csv')

In [3]:
underlying = pd.read_csv('daily-closing-prices.csv')

In [5]:
underlying['sigma_20'] = underlying.close.rolling(20).apply(lambda x: (np.diff(x) / x[:-1]).std())

C:\Users\Alex Ke\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

In [6]:
underlying.head()

       date   close  sigma_20
0  19960102  620.73       NaN
1  19960103  621.32       NaN
2  19960104  617.70       NaN
3  19960105  616.71       NaN
4  19960108  618.46       NaN

In [7]:
options.head()

,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,date_ndiff,treasury_rate,closing_price
0,19960104,19960316,C,600000,24.750,25.750,150,5633,0.110927,72,5.19,617.7
1,19960104,19960316,P,615000,10.125,10.875,156,8302,0.125890,72,5.19,617.7
2,19960104,19970621,P,550000,11.625,13.250,5,3282,0.159369,534,5.19,617.7
3,19960104,19960316,P,600000,6.000,6.500,3917,5728,0.136913,72,5.19,617.7
4,19960104,19960316,P,560000,1.750,2.000,3,2971,0.176965,72,5.19,617.7

In [16]:
joined = options.join(underlying.set_index('date').sigma_20, on='date')

In [20]:
joined = joined.dropna()

In [29]:
joined.to_csv('options-df-sigma.csv', index=False)