In [8]:
import numpy as np
import pandas as pd
from datetime import date

In [25]:
options = pd.read_csv('data/options-better.csv')

In [26]:
def date_diff(row):
    start = str(row['date'])
    end = str(row['exdate'])
    s_year, s_month, s_day = start[:4], start[4:6], start[6:]
    e_year, e_month, e_day = end[:4], end[4:6], end[6:]
    return date(int(e_year), int(e_month), int(e_day)) - date(int(s_year), int(s_month), int(s_day))

In [27]:
options['date_diff'] = options.apply(lambda row: date_diff(row), axis=1)

In [32]:
def numeric_date(row):
    return int(str(row['date_diff']).split()[0])

In [33]:
options['date_ndiff'] = options.apply(lambda row: numeric_date(row), axis=1)

In [35]:
options = options.drop('date_diff', axis=1)

In [37]:
# options.to_csv('data/options-with-date.csv')

In [38]:
options.head()

,date,exdate,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,date_ndiff
0,19960104,19960316,C,600000,24.750,25.750,150,5633,0.110927,72
1,19960104,19960316,P,615000,10.125,10.875,156,8302,0.125890,72
2,19960104,19970621,P,550000,11.625,13.250,5,3282,0.159369,534
3,19960104,19960316,P,600000,6.000,6.500,3917,5728,0.136913,72
4,19960104,19960316,P,560000,1.750,2.000,3,2971,0.176965,72